.projects {
    grid-column: center-start / center-end;
    margin: 15rem 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 7rem;
}

.sub-heading {
    font-family: $font-display;
    font-weight: 700;
}

.project {
    background-color: $color-grey-light-3;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 1.5rem;
    box-shadow: 0 1.5rem 4rem rgba($color-secondary, .15);
    transition: all .3s;
    opacity: .7;
    &__text{
        grid-row: 1/2;
        grid-column: 1/-1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2.5rem;
        &__name {
            grid-column: 1 / -1;
            justify-self: center;
            align-self: start;
            z-index: 3;
            width: 80%;
            font-family: $font-display;
            font-size: 1.6rem;
            text-align: center;
            padding: 1.25rem;
            background-color: $color-secondary;
            color: #fff;
            font-weight: 400;
            transform: translateY(50%);
        }
        &__description {
            grid-column: 1 / -1;
            justify-self: center;
            align-self: start;
            font-family: $font-display;
            font-size: 1.6rem;
            font-weight: 400;
            margin: 2rem 2rem;
            color: $color-secondary;
        }
    }
    &__responsibilities {
        margin: 2rem 2rem;
        text-transform: uppercase;
        li {
            text-transform: none;
            font-family: $font-display;
            font-weight: 400;
            font-size: 1.6rem;
            margin: 2rem 2rem;
            color: $color-secondary;
        }
    }
    &__environment {
        margin: 2rem 2rem;
        text-transform: uppercase;
        &__list{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
            li {
                text-transform: none;
                font-family: $font-display;
                font-size: 1.6rem;
                font-weight: 400;
                margin: 2rem 2rem;
                color: $color-secondary;
            }
        }
        &__seenon-logos {
            padding: 2rem;
            background-image: linear-gradient(rgba(#00455f, .93), rgba(#002c3d, .93));
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
            grid-gap: 2rem;
            justify-items: start;
            align-items: center;
    
            img {
                max-height: 5rem;
                max-width: 100%;
                // filter: brightness(90%);
                fill: white;
            }
        }
    }
    &__urls {
        margin: 2rem 2rem;
        font-family: $font-display;
        font-size: 1.6rem;
        color: $color-secondary;
        p {
            display: block;
        }
    }
    &:hover {
        background-color: $color-grey-light-1;
        box-shadow: 0 1.5rem 4rem rgba($color-secondary, .35);
        transform: scale(1.05);
        opacity: 1;
    }
}
